.section {
    padding: 4.5rem 0 2.5rem;
}

.container{
    max-width: 968px;
    margin: 0 $mb-1;

    @media(min-width:600px){
        margin:0 $mb-2-5;
    }
    @media(min-width:768px){
        margin:0 4rem;
    }
    @media(min-width:1030px){
        margin:0 auto;
    }
    
}