.experience{
    &__content{
        grid-template-columns: repeat(3, 1fr);
    }
    &__data{
        justify-self: center;
    }

    &__img{
        grid-template-columns: repeat(4, 1fr);
    }
    &__img-one,
    &__img-two{
        filter: grayscale(1);
        &:hover{
            filter: grayscale(0);
        }
    }
    &__overlay-one{
        grid-column: 1/4;
        grid-row: 1/3;
    }
    &__overlay-two{
        grid-column: 3/5;
        grid-row: 2/5;
    }
    &__img-two{
        height: 100%;
        object-fit:cover ;
    }
}

@media(min-width:768px){
    .experience{
        &__img-two{
            max-width: 308px;
        }
        &__img-one{
            max-width: 470px;
        }
    }
}
@media(min-width:835px){
    .experience{
        &__img{
            max-width: 65vw;
            margin: 0 auto ;
        }
    }
}
@media(min-width:1024px){
    .experience{
        &__content{
            margin: 0 auto ;
        }
        &__description{
            font-size: 1rem;
        }
    }
}